<!DOCTYPE html>
<html>
  <head>
    <title>New Article:</title>
  </head>
  <body>
    <h2>Create a New Article:</h2>
        <form method="POST" action="/articles">
            <label for="articles"> 
            Title:<input type="text" name="title"><br>
            Content:<input type="text" name="content"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>